<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="{{ path('main_homepage') }}" class="logotype">
        <img src="{{ asset('build/images/icons/logo_366x79.png') }}" alt="OnlineStore Logotype">
    </a>
    <nav class="main-nav">
        <ul class="menu">
            {% include 'main/_embed/_menu/_menu_categories.html.twig' %}

            {% if app.user %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    targetRoot: 'main_profile_index',
                    label: 'Main profile',
                    extraClasses: 'font-weight-bold'
                } %}
            {% else %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    targetRoot: 'main_login',
                    label: 'Login',
                    extraClasses: 'font-weight-bold'
                } %}
            {% endif %}
        </ul>
    </nav>

    {% include "main/_embed/_menu/_menu_cart.html.twig" %}
</div>
