{% apply inky_to_html|inline_css(source('@public' ~ asset('build/email.css'))) %}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('main_homepage') }}">
                    <center>
                        <img src="{{ email.image('@images/icons/logo_366x79.png') }}" class="logo" alt="Online store">
                    </center>
                </a>
            </columns>
        </row>

        {% block content %}{% endblock %}

        <spacer size="20"></spacer>
        <row class="footer">
            <columns>
                <p>
                    <center>
                        by Online Store (Beta)
                    </center>
                </p>
            </columns>
        </row>
    </container>
{% endapply %}
